@page
@model ByteBrew_Coffee_Roasters.Pages.Products.ListModel

@{
    ViewData["Title"] = "List";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/products_menu.css" asp-append-version="true" />

<h1>Меню</h1>

<div class="d-flex flex-row flex-wrap justify-content-center">
    @foreach (var item in Model.Product)
    {
        <div class="card flex-column text-center p-3 m-2 align-items-center" style="width: 48%">
            <span class="card-title fw-bolder fs-4">@item.Name</span>
            <span class="card-subtitle text-secondary fs-6">@item.Description</span>
            <img src="@item.Image" style="height:200px; "/>
            <span class="fw-bold fs-4">@item.Price ₽</span>
            <button class="btn btn-primary">В корзину</button>
        </div>
    }
</div>
