@using ByteBrew_Coffee_Roasters.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    @if (User.Claims.Any(x=>x.Value == "Менеджер"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/Products/Index" asp-route-id="" title="Продукты">Продукты</a>
        </li>
    }
        
    <li class="nav-item">
         <a class="nav-link text-dark text-decoration-underline" asp-page="/Account/Account" asp-route-id="@UserManager.FindByNameAsync(User.Identity?.Name!).Result!.Id" title="Профиль">Профиль @User.Identity?.Name</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Account/Logout">Выйти</a>
    </li>
    }
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Account/Register">Регистрация</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Account/Login">Войти</a>
    </li>
}
</ul>
